body {
    overflow: hidden;
    /* background: rgb(31, 31, 31); */
    background: radial-gradient(circle, rgba(31, 31, 31, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(26, 26, 26, 1) 100%);
    /* background-image: linear-gradient(to bottom, #072142, #061c37, #07182b, #061220, #020b16); */
        /* background-image: linear-gradient(to bottom, #2c2c2c, #252525, #222222, #000000); */
    background: radial-gradient(circle, rgba(31, 31, 31, 1) 0%, rgba(0, 0, 0, 1) 50%, rgb(12 12 12) 100%);
}

img {
    filter: grayscale(100%) brightness(40%);
}

.active .fgym-image-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    /* animation: slideOut 3000ms cubic-bezier(0.075, 0.82, 0.165, 1) infinite; */
    animation: slideOut 2000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 500ms;
}

.active .fgym-image-cover-1 {
    animation: motion 2000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 500ms;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(105%);
    }
}

@keyframes motion {
    0% {
        width: 10%;
    }
    50%,100% {
        width: 30%;
    }

}
