.active .section-title h1 {    
    animation: enterIn 1000ms cubic-bezier(0.56, 0, 0.16, 1.01);
}

.active .section-title .lines div:nth-child(1) {
    animation: line1 1500ms cubic-bezier(0.56, 0, 0.14, 0.78);
}

.active .section-title .lines div:nth-child(2) {
    animation: line2 1500ms cubic-bezier(0.56, 0, 0.14, 0.78);
}

@keyframes line1 {
    0%,30% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes line2 {
    0%, 30% {
        transform: translateX(-30%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes enterIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translate(0);
    }
}